@charset "utf-8";
/* CSS Document */

footer {
	font-size: 12px;
}

.position-middle {
	margin: auto;
}

.headline {
	font-size: 30px;
}

.logo {
	height: 40px;
}

.margin {
	margin: 90px;
}

.form-row {
	margin: 30px;
}

.jumbotron {
	padding: 30px;
}

.profilepic {
	width: 200px;
	
}
