@charset "utf-8";
/* CSS Document */

main {
	margin-top: 45px;
	background-color: #FFF4EC;
}

.bg-dark {
	colour: #262012;
}

p {
	color: #262012;
}

h1 {
	padding-top: 15%;
	padding-bottom: 10%;
	color: #F7C46C;
	margin-top: 40px;
}

h3 {
	font-family: 'Parisienne', cursive;
	margin-bottom: 7%;
}

footer {
	font-size: 12px;
}

video {
	width: auto;
}

a {
	color: goldenrod;
}

#myworktitle {
	background-image: url("../image/digital_redqueencoloured.jpg");
	background-repeat: no-repeat, repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	padding: 20%;
	margin-top: 40px;
}

.headline {
	font-size: 30px;
}

.overlay {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	object-fit: cover;
	align self: center; 
	
	
	
}

.logo {
	height: 40px;
}

.form-row {
	margin: 3% 10% 3% 10%;
}

.profilepic {
	width: 200px;
	
}

.non-digit {
	background-image: url(../image/nondigit_header.png);
	background-size: cover;
}

.digit {
	background-image: url("../image/digital_snailsketch.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron {
	height: 200%;
	padding: 7%;
	background-color: #FFEFEB;
}

.placeholder {
	background-color: #262012;
	padding: 30%;
}


.fixed-top {
	position: fixed;
	width: 100%;
}

.video {
	width: 100%;
}